<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>
    <span th:if="${session.kakaoName != null}">Kakao 로그인 완료:<span th:text="${session.kakaoName}"></span>님 환영합니다</span>
</h2>
<h2>
    <span th:if="${session.googleName != null}">Google 로그인 완료:<span th:text="${session.googleName}"></span>님 환영합니다 </span>
</h2>
<h2>
    <span th:if="${session.naverName != null}">Naver 로그인 완료:<span th:text="${session.naverName}"></span>님 환영합니다 </span>
</h2>
<a href="/main">메인 페이지로 넘어가기</a>
</body>
</html>